#index {
  background-image: url(bg_index.jpg);
}

#education, #contact, #interests {
  background-image: url(bg.jpg);
  text-align: center;
}


#nav {
  background-color: #c0c0c0;


  font-size: 25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#nav ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

#nav li {
  display: inline;

  font-family: 'Acme', sans-serif;

}

#nav a {
  text-decoration: none;
  color: black;
  padding: 5px 50px;
  margin: auto;

}

#nav a:hover {
  background-color: black;
  color: #fdc40d;
}

.dp {
  height: 650px;
}

.intro {
  width: 50%;
  position: absolute;
  left: 100px;
  top: 100px;
  color: #f5f5f5;
}

.my_image {
  position: absolute;
  top: 100px;
  right: 100px;
}

.intro h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 6rem;
  color: #fdc40d
}

.intro h2 {
font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.8rem;
}

.info_edu {
  margin: 25px auto 25px;
}

.info_edu h1 {
  color: #fdc40d;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3rem;
  display: inline;
}

.int_info {
  margin: 25px auto 25px;
}

.int_info h1 {
  color: #fdc40d;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3rem;
  display: inline;
}

.contact_info h1 {
  color: #fdc40d;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 3rem;

}

span {
  color: #fdc40d;
}

.fa-university {
  color: #fdc40d;
  font-size: 3rem;
}

.fa-chess-king {
  color: #fdc40d;
  font-size: 3rem;
}

}
.img_ed {
  width: 20%;
}

.edu_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

.edu_row {
  background-image: url(bg_index.jpg);
  color: #f5f5f5;
  border-style: solid;
  border-color: #f5f5f5;
  width: 70%;
  margin: 30px auto 30px;
  padding-top: 15px;
  display: flex;
  padding: 15px 20px;
  align-items: center;
}

.edu_row:hover {

  border-style: solid;
  border-color: #fdc40d;
transform: scale(1.15);

}

.edu_img {
  width: 50%;
}

.img_ed {
  width: 100%;
  margin: auto;
}

.edu_text {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.3rem;
  padding-left: 25px;
  padding-right: 15px;
  text-align: center;
}

.contact_info {
  margin: 20px auto 5px;
}

.conact_photo {
  width: 20%;
  padding: 10px 60px 30px;
}

.facebook {
  width: 19.3%;
}

.conact_photo:hover {
  transform: scale(1.2);
}

.int_card {
  background-image: url(bg_index.jpg);
}

.int_icon {
  width: 50%;
  margin-top: 13px;
}

.int_text h2 {
  color: #fdc40d;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2rem;
}

.int_text p {
  color: #f5f5f5;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.4rem;
}

.int_container {
  display: flex;
  flex-flow: row wrap;
  margin: 20px auto 20px;
  justify-content: center;
  align-items: stretch;
  align-content: center;
}

.int_card {
  flex-basis: 18%;
  margin: 40px;
  padding: 20px;
  border-color: #f5f5f5;
  border-style: solid;
}

.int_card:hover{ border-color: #fdc40d; border-style: solid;
transform: scale(1.1);}
